@import "./vars.scss";

.attribute-filter-container {

  .table-header {
    color: rgba(0, 0, 0, 0.48);
    font-size: 10px;
    font-weight: 500;
    height: 21px;
    background-color: rgba(198, 198, 198, 0.3);
    text-align: left;
    padding-left: 5px;
    box-sizing: border-box;

    &.attribute-header {
      width: 174px;
    }
    &.abbr-header {
      width: 56px;
    }
    &.units-header {
      width: 36px;
      background-color: rgba(126, 126, 126, 0.3);
    }
    &.filter-header {
      width: 41px;
    }
  }
  tr.table-body {
    height: 16px;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    text-align: left;
    padding-left: 5px;

    td.filter-units {
      text-align: center;
    }

    td.filter-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $teal-light-25;
      color: #177991;
      &.filtering {
        background-color: rgba(90, 249, 90, 0.25);
        color: #2dbe5e;
      }

      .edit-icon {
        margin-left: 7px;
        height: 10px;
        width: 10px;
      }
    }
  }
}

table tr:nth-child(odd) {
  background-color: rgba(216, 216, 216, 0.3);
}

.filter-modal {
  z-index: 5;
  width: 170px;
  height: 87px;
  margin: 0 0 0 5px;
  padding: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #f6f6f6;
  position: relative;
  right: -68px;
  top: 0;
  box-sizing: border-box;

  .filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 14px;

    .filter-operator-wrapper {
      width: 57px;
      height: 16px;
      background-color: $teal-light-25;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .filter-operator{
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-align: right;
        color: #177991;
      }
      svg {
        margin: 0 3px;
        height: 10px;
        width: 10px;
      }
    }

    .filter-value {
      width: 56px;
      height: 22px;
      border-radius: 3px;
      border: solid 1px $teal-dark-75;
      background-color: #fff;
      padding: 0 7px;
      display: flex;
      align-items: center;
      text-align: right;
      margin-left: 7px;
    }
  }

  .filter-modal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;


    .filter-button {
      width: 82px;
      height: 31px;
      border-radius: 3px;
      border: solid 1px $teal-dark-75;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;

      &.reset {
        border: none;
        background-color: transparent;
        color: $teal-dark;
      }
      &.done {
        color: #000;
        &:hover {
          background-color: $teal-light-25;
        }
        &:active {
          background-color: $teal-dark;
        }
      }
    }
  }
}
