.attribute-selection-container {
  margin-top: 12px;

  .attribute-selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .attributes-title {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;

    }
    .units-selection {
      display: flex;
      align-items: center;
      position: relative;
      right: 11px;

      .units-label {
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #959595;
        margin-right: 6px;
      }
      .units-switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        height: 16px;
        width: 61px;
        border: solid 1px #a2a2a2;
        background-color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #a2a2a2;
        cursor: pointer;
        &:hover {
          border-color: rgba(114, 191, 202, 0.25);
          background-color: rgba(0, 144, 164, 0.32);
          color: #177991;
        }
        &.left {
          border-radius: 15px 0 0 15px;
          margin-right: 2px;
          margin-left: 5px;
        }

        &.right {
          border-radius: 0 15px 15px 0;
        }

        &.selected-unit {
          border: solid 1px rgba(114, 191, 202, 0.25);
          background-color: rgba(114, 191, 202, 0.25);
          color: #177991;
          font-weight: 600;
        }
      }
    }
  }

  .attribute-selection {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px 11px 12px;

    .attribute-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      margin: 0 5px 5px 0;
      padding: 0 11px;
      border-radius: 16px;
      border: solid 1px #a2a2a2;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;
      color: #a2a2a2;
      cursor: pointer;

      &:hover {
        border: solid 1px rgba(0, 144, 164, 0.25);
        background-color: rgba(0, 144, 164, 0.32);
        color: #177991;
      }
      &.selected {
        border: solid 1px rgba(114, 191, 202, 0.25);
        background-color: rgba(114, 191, 202, 0.25);
        color:#177991;
      }
      &.disabled {
        border: solid 1px #a2a2a2;
        background-color: rgba(198, 198, 198, 0.25);
      }
      &.all {
        border: solid 1px #a2a2a2;
        background-color: rgba(198, 198, 198, 0.25);
        color: #a2a2a2;

        &:hover {
          border: solid 1px rgba(19, 79, 88, 0.25);
          background-color: rgba(24, 111, 133, 0.75);
          color: #fff;
        }
        &.selected {
          border: solid 1px rgba(19, 79, 88, 0.25);
          background-color: rgba(23, 121, 145, 0.58);
          color: #fff;
        }
      }
    }
  }
}
