.location-picker-container {
  height: 71px;

  .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 16px;
    margin: 9px 24px 5px 0;

    .selected-weather-station {
      padding: 2px 2px 2px 8px;
      background-color: rgba(114, 191, 202, 0.25);
      span {
        margin-right: 6px;
      }
    }
  }

  .location-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .location-input-selection {
      display: flex;
      flex-direction: column;

      .location-input-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 312px;
        height: 32px;
        margin: 5px 4px 0 12px;
        border-radius: 3px;
        border: solid 1px rgba(23, 121, 145, 0.75);
        background-color: #fff;
        &.short {
          width: 275px;
        }
        &.editing {
          background-color: rgba(114, 191, 202, 0.25);
        }

        .location-input {
          border: none;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          background-color: transparent;
          &::placeholder {
            font-style: italic;
            color: #c6c6c6;
          }
          &:focus-visible {
            border: none;
          }
        }
        .selected-loc-intro {
          color: #c6c6c6;
        }
      }

      .location-selection-list {
        display: block;
        position: relative;
        width: 313px;
        height: 97px;
        margin: 0 13px ;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
        background-color: #fff;
        visibility: hidden;

        &.short {
          width: 275px;
        }
        &.show {
          visibility: visible;
          z-index: 5;
        }

        .list-current-location {
          display: block;

          .current-location-wrapper {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 9px;

            .current-location-icon {
              margin: 6px 8px 3px 0;
            }
            .current-location {
              color: #72bfca;
            }
          }
        }

        .location-selector-options {
          display: block;
          position: absolute;
          top: 23px;
          left: 20px;

          .location-selector-option {
            margin: 3px 13px;
          }
        }
      }
    }

    .map-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      border: solid 1px rgba(23, 121, 145, 0.75);
      background-color: #fff;
      margin-top: 5px;
    }
  }
}
