$inner-container-width: 336px;
$teal-dark: #177991;
$teal-medium: #ddeff1;
$teal-light: #72bfca;
$teal-dark-75: rgba(23, 121, 145, 0.75);
$teal-dark-50: rgba(23, 121, 145, 0.5);
$teal-light-25: rgba(114, 191, 202, 0.25);
$teal-light-12: rgba(114, 191, 202, 0.12);